#map {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 1px #222;
}

.legend {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1000;
}

#siScaleDiv {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 80%;

}

#promtDiv {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 80%;
  margin-bottom: 5px;
  width: 326px;
  height: 500px;
  z-index: 1000;
  border: 1px solid #7799d8;
  font-size: 13px;
  bottom: 5px;
  left: 230px;
}

.hide {
  display: none !important;
}

.popup-table {
  width: 100%;
  /* background-color: rgb(119, 153, 216); */
  box-sizing: border-box;
  border-spacing: 0px;
  border: 1px solid rgb(153, 180, 233);
}

.popup-table th {
  text-align: center;
  background-color: rgb(153, 170, 233);
  color: black;
}

.popup-table td, .popup-table th {
  border: 1px solid rgb(153, 180, 233);
  padding: 0 3px;
}
