
.border {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: auto;
    background: #cbe7ff;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 8px;
}


.table_of_rec {
    border: 10px;
    border-collapse: collapse;
    border: #85c2ff;
    border-spacing: 10px;
    
}

.fat {
    font-weight: bold;
}

.color_of_link {
    color: #5b58ff;
}

.table_of_rec * {
    border-left: none;
    border-right: none;
    border-top: none;
}


#first {
    background-color: rgb(167, 255, 171);
}

#second {
    background-color: rgb(238, 255, 164);
}

#third {
    background-color: rgb(255, 208, 155);
}

#fourth {
    background-color: rgb(255, 141, 141);
}




summary::-webkit-details-marker {
    display: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

summary {
    padding: .3em 1.5em .3em .6em;
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
    position: relative;
}

summary:before {
    right: .3em;
    top: .5em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position:absolute;
    transition: transform .5s;
}

details[open]>summary:before {
    transform: rotateZ(90deg);
}

summary~* {
    padding: 0 1em 0 1em;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


details {
    display:flex;
    margin-bottom: .5rem;
}

body {
    background: #edf2f7;
}